/* Establecemos el estilo css para nuestro container principal, le damos display flex y flex wrap para que bajen los cuadros*/
.container {
display:flex;
flex-wrap:wrap;
width:700px;
height:600px;
background-color:#b4bec9;

}

/* cambio el tamaño de la letra y color de los h1*/
h1 {
font-size:30px;
color:#ff4859;
}

/* iniciamos código css para cuadritos principales*/
.grande-1 {

width:200px;
height:200px;
background-color:#159a9c;
margin:100px;
margin-top:50px;
}

.grande-2 {

width:200px;
height:200px;
background-color:#9fc131;
margin:100px;
margin-top:50px;
margin-left:0px;
}

.grande-3 {

width:200px;
height:200px;
background-color:#573b8f;
margin:100px;
margin-top:0px;
}

.grande-4 {

width:200px;
height:200px;
background-color:#d93b58;
margin:100px;
margin-left:0px;
margin-top:0px;
}

/* iniciamos código css para cuadritos secundarios*/

.chico-1 {

width:75px;
height:75px;
background-color:#a9d9d9;
margin-top:115px;
margin-left:162.5px;
position:absolute;
}

.chico-2 {

width:75px;
height:75px;
background-color:#dbf227;
margin:115px;
margin-left:462.5px;
position:absolute;
}

.chico-3 {

width:75px;
height:75px;
background-color:#bd9cff;
margin:162.5px;
margin-top:412.5px;
position:absolute;
}

.chico-4 {

width:75px;
height:75px;
background-color:#f27289;
margin-left:462.5px;
margin-top:412.5px;
position:absolute;
}